.*
*/.*
!.gitignore
backend/__pycache__
__pycache__
.vscode

backend/venv

# Logs
frontend/app/logs
frontend/app/*.log
frontend/app/npm-debug.log*
frontend/app/yarn-debug.log*
frontend/app/yarn-error.log*
frontend/app/pnpm-debug.log*
frontend/app/lerna-debug.log*

frontend/app/node_modules
frontend/app/dist
frontend/app/dist-ssr
frontend/app/*.local

# Editor directories and files
frontend/app/.vscode/*
frontend/app/!.vscode/extensions.json
frontend/app/.idea
frontend/app/.DS_Store
frontend/app/*.suo
frontend/app/*.ntvs*
frontend/app/*.njsproj
frontend/app/*.sln
frontend/app/*.sw?
